<!DOCTYPE html>


<html lang="en">

<head>

    <title>Home page</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body style="background-image: url(/static/background.jpg)">

    ​

    <nav class="navbar navbar-default">

        <div class="container-fluid">

            <div class="navbar-header">

                <a href="./home"><h3 style="padding-top: 9%;">Home</h3></a>



            </div>
            <div class="navbar-right">

                <h3>

                    <span><img src="/static/coin.png" style="width: 13%;height: 13%;"></span> <span id="bal"></span> <span>satoshis</span>
                </h3>
            </div>


        </div>

    </nav>



    <div class="container" style="margin-top:10%;align-items: center;">


        <a href="./send" style="margin-left: 40%;"><img src="/static/send.jpeg"></a>



    </div>



    <script>



        var HttpClient = function () {
            this.get = function (aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function () {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }

                anHttpRequest.open("GET", aUrl, true);
                anHttpRequest.send(null);
            }
        }


        function intr() {
            var client = new HttpClient();
            client.get('/checkbalance', function (response) {
                // do something with response
                //console.log(response);
                document.getElementById("bal").textContent = response;
            });
        }
        window.onload = intr;
        window.setInterval(intr, 20000);
    </script>

</body>

</html>

​